In [2]:
#import pandas as pd
#df = pd.read_csv('spotify_dataset.csv', on_bad_lines='skip')
#songs_df = df.head(100000)
#songs_df.to_csv('smaller_dataset.csv',index = False)

In [3]:
import pandas as pd
df = pd.read_csv('spotify_dataset.csv', on_bad_lines='skip')
df.columns = df.columns.str.replace('"', '')
df.columns = df.columns.str.replace('name', '')
df.columns = df.columns.str.replace(' ', '')
df.columns
df.head()

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [4]:
df = df.dropna()
df = df.reset_index(drop = True)

In [5]:
df.shape

(12856838, 4)

In [6]:
import re
def text_clean(text):
    text = re.sub(r"[^a-zA-Z:$-,%.?!]+", ' ', text)
    return text

In [7]:
df['artist'] = df['artist'].str.replace('[^\w\s]','', regex = True)
df['track'] = df['track'].str.replace('[^\w\s]','', regex = True)
df['playlist'] = df['playlist'].str.replace('[^\w\s]','', regex = True)

In [8]:
df.head()

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,The Angels Wanna Wear My Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello The Attractions,Whats So Funny Bout Peace Love And Understanding,HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [9]:
def remove_whitespace(text):
    """ This function will remove 
        extra whitespaces from the text
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" after extra whitespaces removed .
        
    Example:
    Input : How   are   you   doing   ?
    Output : How are you doing ?     
        
    """
    pattern = re.compile(r'\s+') 
    Without_whitespace = re.sub(pattern, ' ', text)
    # There are some instances where there is no space after '?' & ')', 
    # So I am replacing these with one space so that It will not consider two words as one token.
    text = Without_whitespace.replace('?', ' ? ').replace(')', ') ')
    return text

In [10]:
#df['user_id'] = (df['user_id'].apply(remove_whitespace)).str.strip()
#df['artist'] = (df['artist'].apply(remove_whitespace)).str.strip()
#df['track'] = (df['track'].apply(remove_whitespace)).str.strip()
#df['playlist'] = (df['playlist'].apply(remove_whitespace)).str.strip()
#df.head()

In [11]:
new_df = df.drop(['user_id'], axis=1)
new_df.head()

,artist,track,playlist
0,Elvis Costello,The Angels Wanna Wear My Red Shoes,HARD ROCK 2010
1,Elvis Costello The Attractions,Whats So Funny Bout Peace Love And Understanding,HARD ROCK 2010
2,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,Elvis Costello The Attractions,Accidents Will Happen,HARD ROCK 2010
4,Elvis Costello,Alison,HARD ROCK 2010

In [12]:
new_df.to_csv("simpleDatasetComplete.csv", index=False)