In [4]:
import pandas as pd
#df = pd.read_csv('spotify_dataset.csv', skipinitialspace = True, on_bad_lines='skip')
#songs_df = df.head(500000)
#songs_df.to_csv('smaller_dataset.csv',index = False)

In [5]:
df = pd.read_csv('smaller_dataset.csv', on_bad_lines='skip')
df.columns = df.columns.str.replace('"', '')
df.columns = df.columns.str.replace('name', '')
df.columns = df.columns.str.replace(' ', '')
df.columns
df.head()

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [6]:
df = df.dropna()
df = df.reset_index(drop = True)
df.shape

(498929, 4)

In [7]:
df['artist'] = df['artist'].str.replace('[^\w\s]','', regex = True)
df['track'] = df['track'].str.replace('[^\w\s]','', regex = True)
df['playlist'] = df['playlist'].str.replace('[^\w\s]','', regex = True)

In [8]:
df.head()

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,The Angels Wanna Wear My Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello The Attractions,Whats So Funny Bout Peace Love And Understanding,HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [9]:
new_df = df.drop(['user_id'], axis=1)
new_df.head()

,artist,track,playlist
0,Elvis Costello,The Angels Wanna Wear My Red Shoes,HARD ROCK 2010
1,Elvis Costello The Attractions,Whats So Funny Bout Peace Love And Understanding,HARD ROCK 2010
2,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,Elvis Costello The Attractions,Accidents Will Happen,HARD ROCK 2010
4,Elvis Costello,Alison,HARD ROCK 2010

In [10]:
df['artist'] = df['artist'].str.replace("  ", " ")
df['track'] = df['track'].str.replace("  ", " ")
df['playlist'] = df['playlist'].str.replace("  ", " ")

df.head()

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,The Angels Wanna Wear My Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello The Attractions,Whats So Funny Bout Peace Love And Understanding,HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [11]:
new_df.to_csv("simple_dataset.csv", index = False)